html{
    height: 100%;
    width: 100%;
}
body{
    height: 100%;
    width: 100%;
    background-image: url(ima.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
    position: fixed;
}
.caixa{
    height: 93%;
    width: 100%;
    margin-top: 30px;
    box-sizing: content-box;
}
.caixaInterior{
    background-color: rgba(45, 43, 184, 0.3);
    font-family: 'Russo One', sans-serif;
}
.foto{
    height: 100%;
    width: 100%;
}