html{
    background-image: url(ima.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
}
body{
    margin: 0;
    height: 100%;
    background-image: url(ima.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
}
.caixa{
    background-color: rgba(45, 43, 184, 0.3);
    font-family: 'Russo One', sans-serif;
}
.foto{
    height: 90%;
    width: 80%;
}